* {
    font-family: "Secular One", Helvetica, sans-serif;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #101119;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  /* $header */
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .header{
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    z-index: 99;
  }
  @media only screen and (min-width: 601px){
    .header{
      width: 85%;
    }
  }
  @media only screen and (min-width: 993px){
    .header{
      width: 70%;
    }
  }
  .navbar{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }
  .logo{
    flex: 1;
    text-transform: uppercase;
    width: 100%;
  }
  .menu{
    flex: 1;
    width: 100%;
    text-align: right;
    display: flex;
  }
/* --$hamber toggle */
  .menuToggle{
    padding: 1.5rem;
    display: block;
    margin-left: auto;
  }
  .menuToggle span{
    width: 30px;
    height: 2px;
    display: block;
    background-color: #fff;
    margin-bottom: 0.5rem;
    transition: all .3s;
  }
  .menuToggle:hover span:nth-child(1){
    opacity: 0;
  }
  .menuToggle:hover span:nth-child(2){
    transform: rotate(-45deg);
  }
  .menuToggle:hover span:nth-child(3){
    opacity: 0;
  }
  /* $Game  */
  .game {
    width: 500px;
    height: 500px;
    position: relative;
    border: 5px solid #202232;
    background-color: #2B2D42;
    color: #fff;
  }
  .game .board {
    background-color: #fff;
  }
  .game .ball {
    background-color: #EF233C;
    border-radius: 50%;
  }
  .game .info {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #404363;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .game .info .start {
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 15px;
  }
  .game .info .grade {
    font-family: "Alfa Slab One", cursive;
  }
/* Footer */
footer{
    width:100%;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    text-decoration: none;
    color: rgba(255,255,255,0.5);
}
